body {
    background-color: transparent;
}

.LoadingScreen {
   background-image: url('Fon042.png');
    /* ('Fon042.png'); */
    /* background-size: no-repeat; */
    background-position: center;
    background-size: cover; 
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    opacity: 1;
    visibility: visible;
    z-index: 10;
    overflow:hidden;
}
.LoadingScreen__backgound {
    width: 1366;
    height: 728;
}