@import './mods/_mixins.scss';

.WelcomeScreen {
    // flex-direction: column;
    display: flex;
    flex-direction: column; /* Размещает элементы вертикально */
    height: 100%; /* Или задайте конкретную высоту */
  
    z-index: 20;
    
    * {
        z-index: 21;
    }

    .WelcomeScreen__body {
        flex: 1 0 80%; /* Занимает оставшиеся 80%,  минимум 80% */
        display: flex;
        flex: 1;
        width: 100%;
        align-items: center;
        justify-content: center;
        -webkit-font-smoothing: antialiased;

        .economy {
            height:35vh;
            width: auto;
        }
        .collaborate {
            height:30vh;
            width: auto;
        }
        .WelcomeScreen__content {
            display: flex;
            flex-direction: column;
            width: 100%;
            bottom: 0;
            align-items: center;
            justify-content: center;

            .WelcomeScreen__button {
                margin-top: 22px;
            }
        }

        &.outToLeft {
            @include outToLeft(40);
    
            animation: outToLeft40 0.4s ease-in-out;
            opacity: 0;
        }
    }
}